<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rankings.mapper.BoardMapper">
	<insert id="create_board">
		<![CDATA[INSERT INTO BOARD(BOARD_WRITER, BOARD_PWD, BOARD_TITLE, BOARD_CONTENT, BOARD_IMAGE, USER_ID) VALUES(#{board_writer}, #{board_pwd}, #{board_title}, #{board_content}, #{board_image}, #{user_id})]]>
	</insert>
	<select id="read_board" resultType="com.rankings.domain.BoardVO">
		<![CDATA[SELECT * FROM BOARD]]>
	</select>
	<update id="update_board">
		<![CDATA[UPDATE BOARD SET BOARD_WRITER = #{board_writer}, BOARD_PWD = #{board_pwd}, BOARD_TITLE = #{board_title}, BOARD_CONTENT = #{board_content}, BOARD_IMAGE = #{board_image}, BOARD_UPDATE_DATE = NOW(), USER_ID = #{user_id} WHERE BOARD_ID = #{board_id}]]>
	</update>
	<delete id="delete_board">
		<![CDATA[DELETE FROM BOARD WHERE BOARD_ID = #{board_id}]]>
	</delete>
	
	<insert id="create_boardComment">
		<![CDATA[INSERT INTO BOARD_COMMENT(COMMENT_WRITER, COMMENT_PWD, COMMENT_CONTENT, USER_ID, BOARD_ID) VALUES(#{comment_writer}, #{comment_pwd}, #{comment_content}, #{user_id}, #{board_id})]]>
	</insert>
	<select id="read_boardComment" resultType="com.rankings.domain.BoardCommentVO">
		<![CDATA[SELECT * FROM BOARD_COMMENT]]>
	</select>
	<update id="update_boardComment">
		<![CDATA[UPDATE BOARD_COMMENT SET COMMENT_WRITER = #{comment_writer}, COMMENT_PWD = #{comment_pwd}, COMMENT_CONTENT = #{comment_content}, COMMENT_UPDATE_DATE = NOW() WHERE COMMENT_ID = #{comment_id}]]>
	</update>
	<delete id="delete_boardComment">
		<![CDATA[DELETE FROM BOARD_COMMENT WHERE COMMENT_ID = #{comment_id}]]>
	</delete>
	
	<select id="read_all" resultType="com.rankings.domain.BoardVO">
		<![CDATA[SELECT * FROM BOARD_COMMENT BC, BOARD B WHERE BC.BOARD_ID = #{board_id} AND BC.BOARD_ID = B.BOARD_ID]]>
	</select>
</mapper>